@font-face {
	font-family: 'Aniron';
	src :url('anirm.ttf') format('truetype');
 }
 @font-face {
 	font-family: 'partybusiness';
 	src: url('partybusiness.ttf') format('truetype');
 }
 @font-face {
 	font-family: 'tngan';
 	src: url('tngan.ttf') format('truetype');
 }
 body{
 	background-image: url(_bg_light.png);
	background-size: 100% 100%;
	background-attachment: fixed;
	background-position: center top;
	background-repeat: no-repeat;
}
.container-fluid{
	font-family: 'Aniron';
	padding:0;
}
.nav>li{
	padding: 10px 0;
}
.navbar-nav>li>a{
	border-right: 1px solid;
	padding-top: 0;
	padding-bottom: 0;
}
.navbar-nav>li:last-child>a{
	border-right: none;
}
.navbar a {
	color: white;
	font-size: 1em;
}
.navbar {
	background-color: #ff4f00;
	border-radius: 0px;
	margin: 0;
}
 .navbar-nav>li>a:hover {
    text-decoration: none;
    background-color: #ff4f00;
    border-bottom: 2px solid white;
}
.carousel-caption {
	top: 30%;
	bottom: auto;
}
.carousel-caption h3 {
	font-family: 'partybusiness';
	font-size: 5em;
	text-align: center;
}
.carousel-caption p {
	font-family: 'partybusiness';
	font-size: 3em;
}
.nav-pills p {
	margin-top: 5%;
	margin-bottom: 5%;
	text-align: center;
}
.nav-pills {
	font-family: 'Aniron';
	font-size: 2em;
}
.nav-pills .active:before {
	content: "b";
	font-family: 'tngan';
	color: #fe6400;
}
.nav-pills .active:after {
	content : "b";
	font-family: 'tngan';
	color: #fe6400;
}
.tngan {
	font-family: 'tngan';
	color: #fe6400;
}
.nav-pills a {
	color: black;
	font-family: 'Aniron';
}
.nav-pills span{
	font-weight: solid;
	font-family: 'Aniron';
	color:black;
}
a .most {
	color:#ff4f00 ;
}
.nav-pills>li>a:hover {
    text-decoration: none;
    background : transparent;
    color:#ff4f00 ;
    border-bottom: 2px solid #ff4f00;
}
.small {
	font-weight: normal;
	font-size: 0.8em;
}
.thumbnail {
	margin-left: auto;
	margin-right: auto;
	height: 550px;
	width: 380px;
	background-color: black;
}
.portrait img {
	opacity:0.5;
	width: 370px;
}
.portrait {
	height:390px;
	width:320px;
}
.gandalf {

	position: relative;
	margin-left: 30%;
	bottom : 290px;
	font-size: 4.5em;
	font-family: 'partybusiness';
	color: white;
	-webkit-transform: translateY(0);
	transform: translateY(0);
	-webkit-transition: 0.5s;
	transition:transform 0.5s;
}

.reward {

	position: relative;
	border-radius: 20px;
	background:white;
	opacity: 0.8;
	text-align: center;
	font-weight: solid;
	font-size: 2.2em;
	font-family: 'partybusiness';
	z-index: 2;
	width: 200;
	bottom : 410px;
	left: 20px;
}
.textgan {
	position: relative;
	padding-left: 13%;
	bottom: 160px;
	font-family: 'partybusiness';
	color: white;
	font-size: 2em;
	opacity: 0.3;
}
.textara {
	position: relative;
	padding-left: 13%;
	bottom: 160px;
	font-family: 'partybusiness';
	color: white;
	font-size: 2em;
	opacity: 0.3;
}
.dead {
	position: relative;
	color: #fe6400;
	text-align: center;
	font-weight: solid;
	font-size: 4.5em;
	font-family: 'partybusiness';
	z-index: 2;
	width: 350;
	bottom : 390px;
	left: 20px;
}
.gimli {
	position: relative;
	text-decoration:line-through #fe6400;
	margin-left: 40%;
	bottom : 290px;
	font-size: 4.5em;
	font-family: 'partybusiness';
	color: white;
	-webkit-transform: translateY(0);
	transform: translateY(0);
	-webkit-transition: 0.5s;
	transition:transform 0.5s;
}
.textgim {
	position: relative;
	padding-left: 13%;
	bottom: 160px;
	font-family: 'partybusiness';
	color: white;
	font-size: 2em;
	opacity: 0.3;
}
.portrait:hover .gimli {
	font-size: 28px;
	text-decoration: none;
	-webkit-transform: translateY(100px);
	transform: translateY(100px);
}
.portrait:hover .dead {
	visibility:hidden;
}
.reward span {
	color: #fe6400;
}
.portrait:hover .gandalf {
	font-size: 28px;
	-webkit-transform: translateY(100px);
	transform: translateY(100px);
}
.portrait:hover .reward {
	visibility:hidden;
}
.portrait:hover img {
	opacity:1;
}
.capture {
	display:flex;
	background-color: black;
	height: 200px;
	width: auto;
	margin-right: 0%;
}
.capture h4 {
	color: white;
	font-size: 3em;
	font-family: 'partybusiness';
}
@media (max-width: 792px){
.navbar-nav>li>a {
	border-right: none;
}}
